# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#cursor
.cursor
.cursor/rules
.cursor/rules/implementor.mdc
.cursor/rules/orchestrator.mdc
.cursor/rules/planner.mdc

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
development.env

